<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    />
    <title>Projects</title>
</head>
<body>
    <div class="d-flex justify-content-center mb-3">
        <div class="d-flex justify-content-between w-25">
            <a href="/">Home</a>
            <p>|</p>
            <a href="/projects">Projects</a>
            <p>|</p>
            <a href="/contacts">Contact</a>
        </div>
    </div>
    <h1 class="d-flex justify-content-center mb-5">My Projects</h1>

    <div class="d-flex justify-content-center">
        <div style="height: 500px" class="w-50 bg-secondary border border-dark rounded p-3 overflow-y-auto">
            <div style="height:180px" class="d-flex border rounded p-2 mb-2 bg-white">
                <img class="w-25" src="https://th.bing.com/th/id/OIP.IjkvC56VyH53E0oGXK57agHaHc?rs=1&pid=ImgDetMain">
                <div class="ms-5">
                    <h3>Virtual Recipe Box</h3>
                    <p>A place to store recipes online.</p>
                </div>
            </div>

            <div style="height:180px" class="d-flex border rounded p-2 mb-2 bg-white">
                <img class="w-25" src="https://bing.com/th?asid=432345564760366640&id=OPHS.awTl%2b9OoqEiShA474C474&o=5&pid=21.2&w=472&h=354&rs=2">
                <div class="ms-5">
                    <h3>Connect Four</h3>
                    <p>Online Connect Four game with players interacting over the internet</p>
                </div>
            </div>

            <div style="height:180px" class="d-flex border rounded p-2 mb-2 bg-white">
                <img class="w-25" src="https://th.bing.com/th/id/R.9e0c014a4991004e94c0bfd6d598b035?rik=92x42LdpZ9LyEg&riu=http%3a%2f%2fwww.publicdomainpictures.net%2fpictures%2f40000%2fvelka%2fquestion-mark.jpg&ehk=Xeob0aRaAdnJaOYE1HhJ6CWTdyV7ZxUur9JExXNLNLQ%3d&risl=&pid=ImgRaw&r=0">
                <div class="ms-5">
                    <h3>To Be Determined</h3>
                    <p>Who Knows</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>