@{
    ViewData["Title"] = "Home Page";
}

<h1 class="d-flex justify-content-center">Welcome to CRUDelicious</h1>
<div class="d-flex justify-content-between" style="padding-left: 550px; padding-right: 550px">
    <a href="/dishes">Home</a>
    <p>|</p>
    <a href="/dishes/new">Add a Dish</a>
</div>

<div class="w-50">
    <h2>Check out some recent dishes!</h2>
    <hr>
</div>